@{
    Layout = null;
}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>@ViewData["title"]</title>
    <link rel="apple-touch-icon" href="~/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/charts/apexcharts.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/toastr.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/dashboard-ecommerce.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/charts/chart-apex.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/extensions/ext-component-toastr.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets2/css/style.css">
    <!-- END: Custom CSS-->

    <style>
        .app-content.content {
            padding: 100px 2rem 100px 2rem !important;
        }
    </style>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu  navbar-floating" data-open="hover" data-menu="horizontal-menu" data-col="">
    
    <!-- BEGIN: Header-->
    @await Html.PartialAsync("~/Views/CustomerPage/Component/Navbar.cshtml")
    <!-- END: Header-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        @* <div class="header-navbar-shadow"></div> *@
            @RenderBody()
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Vendor JS-->
    <script src="~/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="~/app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/toastr.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="~/app-assets/js/core/app-menu.js"></script>
    <script src="~/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="~/app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        });

        function loadKeranjang() {
            $.ajax({
                url: '/CustomerPage/GetKeranjang',
                type: 'GET',
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        var keranjangData = response.data;
                        console.log(keranjangData);
                        var totalHarga = 0;
                        let transaksiId = null;
                        const countKeranjang = document.getElementById("KeranjangCount");

                        countKeranjang.innerHTML = keranjangData[0].details.length;

                        let keranjang = `
                            <li class="dropdown-menu-header">
                                <div class="dropdown-header d-flex">
                                    <h4 class="notification-title mb-0 me-auto">Keranjang</h4>
                                    <div class="badge rounded-pill badge-light-primary">${keranjangData[0].details.length} Items</div>
                                </div>
                            </li>
                            <li class="scrollable-container media-list" style="max-height: 300px; overflow-y: auto;">
                        `;

                        // Iterasi untuk setiap transaksi
                        keranjangData.forEach(function (transaksi) {
                            transaksiId = transaksi.transaksiId;

                            // Iterasi untuk setiap detail pada transaksi
                            transaksi.details.forEach(function (item) {
                                totalHarga += item.total;

                                // Cek apakah produk ada dan GambarProduk tersedia
                                if (item.produk && item.produk.gambarProduk) {
                                    console.log(item.produk.gambarProduk);
                                } else {
                                    console.warn("Produk tidak tersedia untuk item dengan ID:", item.id);
                                }

                                // Menambahkan HTML untuk item ke dalam keranjang
                                keranjang += `
                                    <div class="list-item align-items-center d-flex px-1 py-1">
                                        <span class="ficon cart-item-remove btnDeleteKeranjang position-absolute top-0 end-0 me-25 mt-25" data-id="${item.id}" style="z-index: 999;">
                                            <i data-feather="x"></i>
                                        </span>
                                        <img class="d-block rounded me-1" src="${item.produk.gambarProduk}" alt="${item.produk.nama}" width="62">
                                        <div class="list-item-body flex-grow-1 position-relative">
                                            <div class="media-heading">
                                                <h6 class="cart-item-title mb-0">
                                                    <a class="text-body" href="#">${item.produk.nama}</a>
                                                </h6>
                                                <small class="cart-item-by">${item.jumlaBarang} pcs</small>
                                            </div>
                                            <h6 class="cart-item-price">${item.total.toLocaleString('id-ID')}</h6>
                                        </div>
                                    </div>
                                `;
                            });
                        });

                        keranjang += `
                            </li>
                            <li class="dropdown-menu-footer">
                                <div class="d-flex justify-content-between mb-1">
                                    <h6 class="fw-bolder mb-0">Total:</h6>
                                    <h6 class="text-primary fw-bolder mb-0">Rp ${totalHarga.toLocaleString('id-ID')}</h6>
                                </div>
                                <a class="btn btn-primary w-100" href="/CustomerPage/KeranjangCheckout/${transaksiId}">Checkout</a>
                            </li>
                        `;

                        // Menyisipkan HTML ke dalam elemen keranjang
                        $('#keranjang').html(keranjang);

                        // Replace icons jika diperlukan
                        if (feather) {
                            feather.replace();
                        }

                    } else {
                        console.log("Kosong");
                        $('#keranjang').html(`
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-end">
                                <li><p class="px-2 py-1 text-muted text-center">Keranjang kosong</p></li>
                            </ul>
                        `);
                    }
                },
                error: function () {
                    console.log("Error");
                    $('#keranjang').html(`
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-end">
                            <li><p class="px-2 py-1 text-muted text-center">Keranjang kosong</p></li>
                        </ul>
                    `);
                }
            });
        }


        $(document).ready(function () {
            loadKeranjang();
        });

        $('#keranjang').on('click', '.btnDeleteKeranjang', function(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            const detailId = $(this).data('id');
            console.log(detailId);

            $.ajax({
                url: '/CustomerPage/DeleteKeranjang/' + detailId,
                type: 'GET',
                success: function(response) {
                    loadKeranjang();
                },
                error: function(xhr, status, code) {
                    alert(xhr.responseText);
                }
            });
        });

    </script>
    
    @RenderSection("Scripts", required: false)
</body>
<!-- END: Body-->

</html>