@{
    ViewData["title"] = "Tambah Produk";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Tambah Produk</h3>
                        <a href="@Url.Action("Index", "Produk")" class="btn btn-warning">Kembali</a>
                    </div>
                    <div class="card-body">
                        <form id="formProduk" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="Nama" class="label-form">Nama</label>
                                <input type="text" class="form-control" name="Nama" id="Nama" required>
                            </div>
                            <div class="form-group">
                                <label for="Harga" class="label-form">Harga</label>
                                <input type="number" class="form-control" name="Harga" id="Harga" required>
                            </div>
                            <div class="form-group">
                                <label for="Stok" class="label-form">Stok</label>
                                <input type="number" class="form-control" name="Stok" id="Stok" required>
                            </div>
                            <div class="form-group">
                                <label for="GambarProduk" class="label-form">Gambar Produk</label>
                                <input type="file" class="form-control" name="GambarProduk" id="GambarProduk" required>
                            </div>
                            <div class="form-group">
                                <label for="Deskripsi" class="label-form">Deskripsi</label>
                                <textarea name="Deskripsi" id="Deskripsi" class="form-control" required></textarea>
                            </div>

                            <button class="btn btn-primary" type="submit">Tambah</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $("#formProduk").submit(function(e) {
            e.preventDefault();

            var dataForm = new FormData(this);

            $.ajax({
                url: '@Url.Action("Store", "Produk")',
                type: 'POST',
                data: dataForm,
                contentType: false,
                processData: false,
                success: function(response) {
                    alert(response.pesan);
                    window.location.href = '@Url.Action("Index", "Produk")';
                },
                error: function(xhr, status, code) {
                    let response = xhr.responseJSON;
                    let pesan = response && response.pesan ? response.pesan : "Terjadi kesalahan";
                    alert("Gagal: " + pesan);
                }
            });
        });
    </script>
}