@{
    ViewData["title"] = "Kelola Produk";
}

<style>
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Kelola Data Produk</h3>
                        <div class="d-flex justify-content-between">
                            <a href="@Url.Action("Create", "Produk")" class="btn btn-primary">Tambah Data</a>
                            <button type="button" class="btn btn-sm btn-info mr-1" data-toggle="modal" data-target="#importModal">Import Data Produk</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="tableProduk"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
    </div>
  </div>
</div>

@* form modal import data produk *@
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Import Data Produk</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
        <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
        <form id="formImport" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="form-group m-2">
                <label for="importFile">Import File Produk</label>
                <input type="file" name="importFile" class="form-control" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
                <small class="text-danger">Formal File excel, csv min 2 mb</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href=""></a>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
    <script>
        $(function() {
            $("#tableProduk").dxDataGrid({
                dataSource: {
                    store: {
                        type: "odata",
                        version: 4,
                        url: "/odata/ApiProduk",
                        key: "id"
                    }
                },
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 50],
                    showInfo: true
                },
                filterRow: {
                    visible: true
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: "Cari..."  
                },
                columns: [
                    {
                        dataField: "id",
                        visible: false,
                        sortOrder: "desc", 
                        sortIndex: 0       
                    },
                    {
                        caption: "No",
                        cellTemplate: function (container, options) {
                            container.text(options.rowIndex + 1);
                        },
                        width: 50
                    },
                    { 
                        dataField: "Nama", 
                        caption: "Nama" 
                    },
                    {
                        dataField: "HargaProduk",
                        caption: "Harga",
                        format: {
                            type: "currency",
                            precision: 0,
                            currency: "IDR" 
                        }
                    },
                    {
                        dataField: "Stok", 
                        caption: "Stok" 
                    },
                    {
                        caption: "Nonaktif",
                        cellTemplate: function (container, options) {
                            const id = options.data.id;
                            const status = options.data.IsDelete;
                            
                            if(status == 1) {
                                container.append(`<label class="switch"><input class="slider-delete" checked data-id="${id}" type="checkbox"><span class="slider round"></span></label>`);
                            } else {
                                container.append(`<label class="switch"><input class="slider-delete" data-id="${id}" type="checkbox"><span class="slider round"></span></label>`);
                            }
                        },
                        width: 80 
                    },
                    {
                        caption: "Aksi",
                        cellTemplate: function (container, options) {
                            const id = options.data.id;
                            const div = $("<div>");
                                div.append(`<a class="btn btn-sm btn-warning mr-1" href="/Produk/Edit/${id}">Edit</a>`);
                                div.append(`<button class="btn btn-sm btn-success mr-1" onclick="openDetailModal(${id})">Detail</button>`);
                            container.append(div);
                        },
                        width: 170
                    }
                ] 
            });
        });

        let nilai = 0;

        $(document).on("change", ".slider-delete", function () {
            const checkbox = $(this);
            const id = checkbox.data("id");

            const oldChecked = !checkbox.is(":checked"); 
            const newChecked = checkbox.is(":checked");

            console.log("ID:", id);
            console.log("Old Checked:", oldChecked);
            console.log("New Status:", newChecked ? "Nonaktif" : "Aktif");

            checkbox.prop("disabled", true);

            $.ajax({
                url: '/Produk/Delete/' + id,
                type: 'GET',
                data: { status: newChecked },
                success: function (response) {
                    alert(response.pesan || "Berhasil");
                    checkbox.prop("disabled", false);
                },
                error: function () {
                    alert("Gagal menyimpan perubahan");

                    checkbox.prop("checked", oldChecked);
                    checkbox.prop("disabled", false);
                }
            });
        });

        $(document).on("submit", "#formImport", function(e) {
            e.preventDefault();

            const formData = new FormData(this);

            if ($("#custom-loader").length === 0) {
                $("body").append(`
                    <div id="custom-loader" style="position: fixed; z-index: 9999; top: 0; left: 0; width: 100%; height: 100%;
                        background-color: rgba(255,255,255,0.7); display: flex; justify-content: center; align-items: center;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                `);
            }

            $("#custom-loader").show();

            $.ajax({
                url: "@Url.Action("Import", "Produk")",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    alert(response.pesan);
                    // reload datatble 
                    $("#tableProduk").dxDataGrid("instance").refresh();
                    $("#importModal").modal("hide");
                },
                error: function(xhr, status, code) {
                    const json = JSON.parse(xhr.responseText); 
                    alert(json.pesan);
                },
                complete: function() {
                    // Sembunyikan loader setelah request selesai
                    $("#custom-loader").hide();
                }
            });
        });


        function openDetailModal(id) {
            $('#detailModal .modal-content').html(`
                <div class="modal-header">
                    <h5 class="modal-title">Detail Produk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Memuat...</p>
                </div>
            `);

            // Load data dari partial view
            $.get(`/Produk/Detail/${id}`, function (html) {
                $('#detailModal .modal-content').html(html);
            });

            $('#detailModal').modal('show');
        }
    </script>
}